<a href="sign-out">Sign out</a>||
<a href="user_home">Profile</a>||
<a href="new_post">Wright A Post</a>||
<a href="all_posts"> All Posts </a>||
<a href="all_users">Find Friends</a>||
<a href="edit">Edit Profile</a>||<br>

<% @posts.each do |post| %>
	<div>
		<%= post.title %><br>
		<%= post.message %><br>		
	</div>
<% end %>