<a href="sign-out">Sign out</a>||
<a href="user_home">Profile</a>||
<a href="all_posts"> All Posts </a>||
<a href="all_users">Find Friends</a>||
<a href="edit">Edit Profile</a>||<br>
<form action="/edit_post/<%= @post.id %>" method="POST">
	<input type="text"  value="<%= @post.title %>">
	<input type="text"  value="<%= @post.message %>">
	<input type="submit" value="update">
</form>