<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<title>Blog</title>
</head>
<body>
	<%= flash[:notice] if flash[:notice] %>
	<%= yield %>
	<a href="sign-out">Sign out</a>
	<a href="sign_in">Sign in</a>
</body>
</html>