<h1>New Post</h1>
<div>
	<form action="/new_post/" method="POST">
		<div>
			<input type="text" placeholder="Title" name="title"><br><br>
		</div>
		<div>
			<textarea type="text" placeholder="Message" name="message" maxlength=150></textarea><br><br>
		</div>
		<div >
			<input type="submit" value="Submit"><br>
		</div>
		<h4> Max 150 Characters</h4>		
	</form>
</div>
