<!-- This is were we can choose to edit the profile -->
First name: <%= @user.fname %>
Last name: <%= @user.lname %>

<a href="home">Home</a>
<a href="edit">Edit</a>
<a href="sign-out">Sign out</a>


