<!-- This is were we can choose to edit the profile -->
First name: <%= @user.fname %>
<br>
Last name: <%= @user.lname %>
<br>

<a href="home">Home</a>
<a href="edit">Edit</a>
<a href="sign-out">Sign out</a>


