<form action="/sign_in" id="sign-in" method="POST">
	<label for="email">Email</label>
	<input type="email" name="email">
	<label for="password">Password</label>
	<input type="password" name="password">
	<input type="submit" value="Log in">
</form>
<a href='/'> Create account</a>