<h1><%= @user.fname %></h1>
<a href="profile">Profile</a>
<a href="sign-out">Sign out</a>

<h2>Post</h2>
<form action="">
	<textarea <%= @user.messages %></textarea>
	<input type="submit" name="submit">
</form>
